h1 {
    text-align: center;
    font-size: 40px;
    border-bottom: 1px solid gray;
    margin: 0px;
    padding: 20px;

}
#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}
body {
    margin: 0px;
}
